<p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
</p>
<p>
    <strong>Comment:</strong>
    <%= comment.body %>
</p>

<% if comment.user == current_user %> <!-- Verifica si el usuario actual es el propietario del comentario -->
  <p>
    <%= link_to 'Edit Comment', edit_article_comment_path(comment.article, comment), class: 'btn btn-warning btn-sm' %>
    <%= button_to 'Destroy Comment', [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
  </p>
<% end %>
